paper_materials/bbb_uci/**/*.jld2 filter=lfs diff=lfs merge=lfs -text
paper_materials/dvi_uci/**/*.jld2 filter=lfs diff=lfs merge=lfs -text
paper_materials/bpc_uci/**/*.jld2 filter=lfs diff=lfs merge=lfs -text
paper_materials/ivon/**/*.jld2 filter=lfs diff=lfs merge=lfs -text
when_ngmp_helps/results/*.csv filter=lfs diff=lfs merge=lfs -text
