paper_materials/bbb_uci/**/*.jld2 filter=lfs diff=lfs merge=lfs -text
paper_materials/dvi_uci/**/*.jld2 filter=lfs diff=lfs merge=lfs -text
paper_materials/bpc_uci/**/*.jld2 filter=lfs diff=lfs merge=lfs -text
